<div class="leftPanel col-xs-12 col-sm-3 col-md-2">
    <div class="innerContainer">
        <section class="logoRow">
            <span class="logoTxt">BT</span>
            <span class="fa fa-gamepad"></span>
        </section>
        
        <section class="shortProfile">
            <img src="https://pbs.twimg.com/profile_images/1634678969/Twitter.jpg" alt="The Profile Picture" class="center-block img-circle profilePic" />
            
            <label class="name">
                Barry Allen
            </label>
            <label class="location">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span class="city">Central City</span>
            </label>
            <label class="email">
                barryallen@bt.com
            </label>
        </section>
        
        <nav class="primary-nav">
            <ul>
                <li class="active"><a href="javascript:void(0);"><i class="fa fa-tachometer" aria-hidden="true"></i>My Dashboard</a></li>
                <li><a href="javascript:void(0);"><i class="fa fa-tachometer" aria-hidden="true"></i>Team Dashboard</a></li>
                <li><a href="javascript:void(0);"><i class="fa fa-space-shuttle" aria-hidden="true"></i>KPI Progress</a></li>
                <li><a href="javascript:void(0);"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Redeem</a></li>
                <li><a href="javascript:void(0);"><i class="fa fa-cog" aria-hidden="true"></i>Admin CP</a></li>
            </ul>
        </nav>
    </div>
</div>