<div class="rightPanel col-xs-12 col-sm-3 col-md-3">
    <header>
        <i class="fa fa-rss" aria-hidden="true"></i>
        <span>Activity Feed</span>
    </header>
    
    <section class="feedsContainer">
        
        <!-- Iterate over each feedLet -->
        <div class="feedLet">
            <img src="https://lh3.googleusercontent.com/-5jPOZ5K7uOQ/AAAAAAAAAAI/AAAAAAAAAH8/7FO3MEsmSgo/s120-c/photo.jpg" alt="The Profile Picture" class="img-circle profilePic" />
            <span class="name">
                Suman Barick
            </span>
            <span class="timeElapsed">2 mins ago</span>
            <span class="txt">
                Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. 
            </span>
        </div>
        
        <div class="feedLet">
            <img src="https://images-mm.s3.amazonaws.com/Superman_Flip_Shirt_Logo_Blue5_POP.jpg" alt="The Profile Picture" class="img-circle profilePic" />
            <span class="name">
                Clark Kent
            </span>
            <span class="timeElapsed">5 mins ago</span>
            <span class="txt">
                Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. 
            </span>
        </div>
        
        <div class="feedLet">
            <img src="http://pre04.deviantart.net/e737/th/pre/i/2013/284/0/3/batman_by_funky23-d6q1yq3.jpg" alt="The Profile Picture" class="img-circle profilePic" />
            <span class="name">
                Bruce Wayne
            </span>
            <span class="timeElapsed">7 mins ago</span>
            <span class="txt">
                Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. 
            </span>
        </div>
        
        <div class="feedLet">
            <img src="http://vignette3.wikia.nocookie.net/spiderman-films/images/e/e1/Split_Face.jpg/revision/latest?cb=20130416061843" alt="The Profile Picture" class="img-circle profilePic" />
            <span class="name">
                Peter Parker
            </span>
            <span class="timeElapsed">8 mins ago</span>
            <span class="txt">
                Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. 
            </span>
        </div>
        
        <div class="feedLet">
            <img src="https://s-media-cache-ak0.pinimg.com/736x/b1/47/e0/b147e0f0876ce562f499194da3ddf117.jpg" alt="The Profile Picture" class="img-circle profilePic" />
            <span class="name">
                Tony Stark
            </span>
            <span class="timeElapsed">9 mins ago</span>
            <span class="txt">
                Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. 
            </span>
        </div>
        
        <div class="feedLet">
            <img src="http://www.aolcdn.com/red_galleries/the-hulk-superhero-400a062507.jpg" alt="The Profile Picture" class="img-circle profilePic" />
            <span class="name">
                Bruce Banner
            </span>
            <span class="timeElapsed">9 mins ago</span>
            <span class="txt">
                Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. 
            </span>
        </div>
        
        <div class="feedLet">
            <img src="https://s-media-cache-ak0.pinimg.com/236x/ca/da/2d/cada2d6e63c3715500a79c1ad0955a07.jpg" alt="The Profile Picture" class="img-circle profilePic" />
            <span class="name">
                Logan
            </span>
            <span class="timeElapsed">10 mins ago</span>
            <span class="txt">
                Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. 
            </span>
        </div>
        
        <div class="feedLet">
            <img src="http://orig13.deviantart.net/7162/f/2014/282/4/d/read_my_mind__shy_reader_x_charles_xavier__by_alexbk1325-d7ze7gf.jpg" alt="The Profile Picture" class="img-circle profilePic" />
            <span class="name">
                Charles Xaviers
            </span>
            <span class="timeElapsed">12 mins ago</span>
            <span class="txt">
                Lorem ipsum dolor sit amet, consec tetuer adipiscing elit.
            </span>
        </div>
        
    </section>
</div>